# Ignore everything by default
/*

# Whitelist root package.json
!/package.json
!/PR.md

# Allow git to track all *-webserver
!/microservices/*-webserver

# Allow git to track all *-webserver

!/tests/*-webserver
