node_modules
.vscode/
logs/
tests/.output/
# Ignore everything by default
/*

# Whitelist root package.json
!/package.json

# Allow git to track all *-webserver
!/microservices/*-webserver

# Allow git to track all *-webserver

!/tests/*-webserver
